.movies-card-list {
  width: 100%;
  background: #FFFFFF;
}

.movies-card-list__container {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 10px auto 0;
  padding: 70px 70px 80px;
  max-width: 1140px;
}

.movies-card-list__movies-card-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.movies-card-list__more-movies-button {
  cursor: pointer;
  margin: 0;
  padding: 11px 60px 9px 60px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000000;
  background: #FFFFFF;
  border: 1.5px solid #E8E8E8;
  border-radius: 6px;
  align-self: center;
  min-width: 320px;
  transition: opacity .2s;
}

.movies-card-list__more-movies-button:hover {
  opacity: .7;
}

@media screen and (max-width: 768px) {
  .movies-card-list__container {
    padding: 70px 30px 80px;
  }

  .movies-card-list__more-movies-button {
    margin-top: 40px;
    margin-bottom: 20px;
  }

}

@media screen and (max-width: 480px) {
  .movies-card-list__container {
    padding: 40px 10px 101px;
  }
  .movies-card-list__more-movies-button {
    padding: 11px 20px 9px;
    min-width: 240px;
    margin-top: 50px;
  }
}