.movies-card-list {
  width: 100%;
  background: #FFFFFF;
}

.movies-card-list__container {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 10px auto 0;
  padding: 70px 70px 80px;
  max-width: 1140px;
}

.movies-card-list__movies-card-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.movies-card-list__more-movies-button {
  cursor: pointer;
  margin: 0;
  padding: 11px 60px 9px 60px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000000;
  background: #FFFFFF;
  border: 1.5px solid #E8E8E8;
  border-radius: 6px;
  align-self: center;
  min-width: 320px;
}