.movies-card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background: #F9F9F9;
  min-height: 134px;
  margin: 0 0 40px 0;
}

.movies-card__cover-image {
  max-width: 220px;
  padding: 6px 6px 6px 0;
}

.movies-card__description {
  padding: 22px 0px 22px 22px;
  display: flex;
  flex-direction: column;
}

.movies-card__header {
  margin: 0 0 13px 0;
  padding: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.movies-card__film-duration {
  margin: 0 0 30px 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #A0A0A0;
}

.movies-card__save-film-button {
  display: block;
  cursor: pointer;
  width: 14px;
  height: 12px;
  background: url('../../images/heart-off.svg') no-repeat;
  border: none;
  transition: transform .2s;
}

.movies-card__save-film-button:hover {
  transform: scale(1.2);
}

.movies-card__save-film-button_active {
  background: url('../../images/heart-on.svg') no-repeat;
}

.movies-card__delete-button {
  display: block;
  cursor: pointer;
  width: 14px;
  height: 12px;
  background: url('../../images/heart-cross.svg') no-repeat;
  border: none;
  transition: transform .2s;
}

.movies-card__delete-button:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 480px) {
  .movies-card {
    flex-direction: column;
    margin: 0 0 20px 0;
  }
  .movies-card__cover-image {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }
  .movies-card__description {
    padding: 14px 16px 14px 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
    gap: 8px;
  }
  .movies-card__header {
    margin: 0;
    font-size: 12px;
    line-height: 15px;
  }
  .movies-card__film-duration {
    margin: 0;
    font-size: 11px;
    line-height: 13px;
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .movies-card__save-film-button {
    grid-column-start: 2;
    justify-self: end;
  }
}