.profile {
  width: 100%;
  background: #FFFFFF;
}

.profile__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 74px 0 0;
  margin: 0 auto 0;
  max-width: 410px;
}

.profile__form {
  display: flex;
  flex-direction: column;
}

.profile__header {
  padding: 0;
  margin: 0 0 123px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  text-align: center;
  color: #000000;
}

.profile__input-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 0 0 17px 0;
  padding: 0 0 16px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  border-bottom: 1px solid #E8E8E8;
}

.profile__input-container:last-child {
  border: none;
}

.profile__text-input {
  width: 100%;
  display: block;
  border: none;
  flex-shrink: 1;
  text-align: right;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #000000;
}

.profile__text-input::placeholder {
  opacity: .5;
}

.profile__text-input:disabled {
  background: #FFFFFF;
}

.profile__text-input:disabled::placeholder {
  background: #FFFFFF;
  opacity: 1;
}

.profile__input-error-text {
  position: absolute;
  bottom: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #FF3055;
}

.profile__save-profile-button-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-collapse: collapse;
  margin: 200px 0 0 0;
}

.profile__save-profile-button-error {
  display: block;
  width: 100%;
  top: -30px;
  position: absolute;
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #FF004C;
}

.profile__save-profile-button {
  /* display: none; */
  padding: 13px 0 15px;
  background: #3456F3;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  transition: opacity .3s;
}

.profile__save-profile-button:hover {
  opacity: .7;
}

.profile__save-profile-button:disabled {
  cursor: auto;
  color: #C2C2C2;
  background: #F8F8F8;
}

.profile__save-profile-button:disabled:hover {
  opacity: 1;
}

.profile__edit-button {
  margin: 20px 0 16px;
  cursor: pointer;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  background: none;
  border: none;
  transition: opacity .2s;
}

.profile__edit-button:hover {
  opacity: 0.7;
}

.profile__logout-button {
  cursor: pointer;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #FF3055;
  background: none;
  border: none;
}

@media screen and (max-width: 768px) {
  .profile__container {
    padding: 236px 0 0;
  }
  .profile__header {
    margin-bottom: 96px;
  }
  .profile__edit-button {
    margin-top: 173px;
  }
}

@media screen and (max-width: 480px) {
  .profile__container {
    padding: 70px 30px 0;
  }
  .profile__header {
    margin-bottom: 80px;
  }
  .profile__edit-button {
    margin-top: 340px;
    font-size: 12px;
    line-height: 15px;
  }
  .profile__logout-button {
    font-size: 12px;
    line-height: 15px;
  }
}