.profile {
  width: 100%;
  background: #FFFFFF;
}

.profile__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 74px 0 0;
  margin: 0 auto 0;
  max-width: 410px;
}

.profile__form {
  display: flex;
  flex-direction: column;
}

.profile__header {
  padding: 0;
  margin: 0 0 123px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  text-align: center;
  color: #000000;
}

.profile__input-container {
  display: flex;
  justify-content: space-between;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 0 0 17px 0;
  padding: 0 0 16px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  border-bottom: 1px solid #E8E8E8;
}

.profile__input-container:last-child {
  border: none;
}

.profile__text-input {
  width: 100%;
  display: block;
  border: none;
  flex-shrink: 1;
  text-align: right;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #000000;
}

.profile__edit-button {
  margin: 220px 0 16px;
  cursor: pointer;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  background: none;
  border: none;
  transition: opacity .2s;
}

.profile__edit-button:hover {
  opacity: 0.7;
}

.profile__logout-button {
  cursor: pointer;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #FF3055;
  background: none;
  border: none;
}

@media screen and (max-width: 768px) {
  .profile__container {
    padding: 236px 0 0;
  }
  .profile__header {
    margin-bottom: 96px;
  }
  .profile__edit-button {
    margin-top: 173px;
  }
}

@media screen and (max-width: 480px) {
  .profile__container {
    padding: 70px 30px 0;
  }
  .profile__header {
    margin-bottom: 80px;
  }
  .profile__edit-button {
    margin-top: 340px;
    font-size: 12px;
    line-height: 15px;
  }
  .profile__logout-button {
    font-size: 12px;
    line-height: 15px;
  }
}