  .user-profile-link {
    display: block;
    cursor: pointer;
    background: #F9F9F9;
    border-radius: 20px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #000000;
    text-decoration: none;
    /* margin: 0 0 98px; */
    padding: 8px 20px;
    transition: opacity .2s;
  }
  .user-profile-link:hover {
    opacity: .7;
  }


  @media screen and (max-width: 768px) {
    .user-profile-link__mobile-wrapper {
      display: none;
    }
  }

@media screen and (max-width: 480px) {

}