.promo {
  width: 100%;
  background: #073042;
}

.promo__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 1280px;
  min-height: 524px;
  margin: 0 auto;
  padding: 0 70px;
  background: url('../../images/promo-background-logo.svg') no-repeat center;
}

.promo__header {
  max-width: 730px;
  padding: 0;
  margin: 0 auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .promo__container {
    min-height: 784px;
    padding: 0 30px;
  }
}

@media screen and (max-width: 480px) {
  .promo__container {
    min-height: 570px;
    padding: 0 10px;
    background-size: 248px;
  }
  .promo__header {
    max-width: 300px;
    font-size: 31px;
    line-height: 39px;
  }
}