.auth-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.auth-navigation__item {
  display: block;
  padding: 8px 20px;
  margin: 0 10px 0 0;
  transition: opacity 0.2s;
}

.auth-navigation__item_accent {
  background: #2BE080;
  border-radius: 3px;
}

.auth-navigation__item:last-child {
  margin-right: 0;
}

.auth-navigation__item:hover {
  cursor: pointer;
  opacity: .7;
}

.auth-navigation__link {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

.auth-navigation__link_color_black {
  color: #000000;
}

.auth-navigation__profile-link {
  position: relative;
  margin: 0;
  padding: 8px 16px 8px 36px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  color: #FFFFFF;
  text-decoration: none;
  border: 2px solid #F5F5F5;
  border-radius: 20px;
  transition: opacity .2s;
}

.auth-navigation__profile-link::before {
  position: absolute;
  left: 16px;
  content: "";
  display: block;
  width: 12px;
  height: 14px;
  background: center url('../../images/profile-icon-white.svg') no-repeat;
}

.auth-navigation__profile-link:hover {
  opacity: .7;
}

.auth-navigation__profile-link_color_black {
  color: #000000;
}

@media screen and (max-width: 768px) {
  .auth-navigation__profile-link {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .auth-navigation__item {
    padding: 5px 12px;
    margin-right: 2px;
  }
  .auth-navigation__link {
    font-size: 10px;
  }
}