.search-form {
  width: 100%;
}

.search-form__container {
  margin: 0 auto 0;
  padding: 70px 70px 0;
  max-width: 1140px;
}

.search-form__form {
  padding-bottom: 44px;
  border-bottom: 1.5px solid rgba(170, 170, 170, .2);
}

.search-form__text-field-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0 0 27px;
  border: 1.5px solid rgba(170, 170, 170, .2);
  box-sizing: border-box;
  border-radius: 8px;
}

.search-form__text-field {
  width: 100%;
  flex-grow: 1;
  margin: 0;
  padding: 15px;
  border: none;
  background: #FFFFFF;
  outline: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.search-form__search-button {
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 17px 28px;
  background: #3456F3;
  border-radius: 5px;
  border: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  transition: opacity .2s;
}

.search-form__search-button:hover {
  opacity: .8;
}

.search-form__search-button:focus {
  outline: 1px solid #2BE080;
}

.search-form__checkbox-wrapper {
  display: flex;
  position: relative;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  padding: 0;
}

.search-form__checkbox {
  position: absolute;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.search-form__checkbox-visible {
  cursor: pointer;
  padding: 0 14px 0 0;
  width: 36px;
  height: 20px;
  background: url("data:image/svg+xml,%3Csvg width='36' height='20' viewBox='0 0 36 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='36' height='20' rx='10' fill='%23EBEBEB'/%3E%3Ccircle cx='10' cy='10' r='8' fill='%23F5F5F5'/%3E%3Ccircle cx='10' cy='10' r='7.5' stroke='white'/%3E%3C/svg%3E%0A") no-repeat;
}

.search-form__checkbox:checked+.search-form__checkbox-visible {
  background: url("data:image/svg+xml,%3Csvg width='36' height='20' viewBox='0 0 36 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='36' height='20' rx='10' fill='%23EBEBEB'/%3E%3Ccircle cx='26' cy='10' r='8' fill='%232BE080'/%3E%3Ccircle cx='26' cy='10' r='7.5' stroke='white'/%3E%3C/svg%3E%0A") no-repeat;
}

@media screen and (max-width: 768px) {
  .search-form__container {
    padding: 70px 30px 0;
  }
}

@media screen and (max-width: 480px) {
  .search-form__container {
    padding: 70px 14px 0;
  }

  .search-form__form {
    padding-bottom: 62px;
  }

  .search-form__text-field-wrapper {
    padding: 6px;
  }
  .search-form__text-field {
    font-size: 16px;
    line-height: 16px;
    padding: 10px 0 14px 6px;
  }
  .search-form__search-button {
    font-size: 14px;
    line-height: 18px;
    padding: 13px 18px;
  }
  .search-form__checkbox-wrapper {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 18px;
    color: #000000;
  }
}