.search-form {
  width: 100%;
}

.search-form__container {
  margin: 0 auto 0;
  padding: 70px 70px 0;
  max-width: 1140px;
}

.search-form__form {
  padding-bottom: 44px;
  border-bottom: 1.5px solid rgba(170, 170, 170, .2);
}

.search-form__text-field-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0 0 27px;
  border: 1.5px solid rgba(170, 170, 170, .2);
  box-sizing: border-box;
  border-radius: 8px;
}

.search-form__text-field {
  width: 100%;
  flex-grow: 1;
  margin: 0;
  padding: 15px;
  border: none;
  background: #FFFFFF;
  outline: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.search-form__search-button {
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 17px 28px;
  background: #3456F3;
  border-radius: 5px;
  border: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  transition: opacity .2s;
}

.search-form__search-button:hover {
  opacity: .8;
}

.search-form__search-button:focus {
  outline: 1px solid #2BE080;
}

@media screen and (max-width: 768px) {
  .search-form__container {
    padding: 70px 30px 0;
  }
}

@media screen and (max-width: 480px) {
  .search-form__container {
    padding: 70px 14px 0;
  }

  .search-form__form {
    padding-bottom: 62px;
  }

  .search-form__text-field-wrapper {
    padding: 6px;
  }
  .search-form__text-field {
    font-size: 16px;
    line-height: 16px;
    padding: 10px 0 14px 6px;
  }
  .search-form__search-button {
    font-size: 14px;
    line-height: 18px;
    padding: 13px 18px;
  }
}