.authorized-user-nav {
  display: flex;
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;
}

.authorized-user-nav__item {
  margin: 0 20px 0 0;
}

.authorized-user-nav__item:last-child {
  margin-right: 0;
}

.authorized-user-nav__link {
  cursor: pointer;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity .2s;
}

.authorized-user-nav__link:hover {
  opacity: .7;
}

.authorized-user-nav__link_color_black {
  color: #000000;
}

@media screen and (max-width: 768px) {
  .authorized-user-nav {
    display: none;
  }
}

@media screen and (max-width: 480px) {

}