.header {
  width: 100%;
  background-color: #073042;
}

.header_color_white {
  background: #ffffff;
  color: #000000;
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 74px;
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 70px;
}

.header__navigation-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header__container {
    padding: 0 30px;
  }
}

@media screen and (max-width: 480px) {
  .header__container {
    padding: 0 14px;
  }
}