.burger-menu__icon {
  display: none;
}

.burger-menu__overlay {
  display: none;
}

@media screen and (max-width: 768px) {
  .burger-menu__icon {
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    padding: 14px 8px 10px;
    display: block;
    position: relative;
    width: 44px;
    height: 44px;
    transition: opacity .2s;
    z-index: 25;
  }
  .burger-menu__icon::before {
    content: "";
    background: #FFFFFF;
    position: absolute;
    width: 28px;
    height: 3px;
    top: 14px;
  }
  .burger-menu__icon::after {
    content: "";
    background: #FFFFFF;
    position: absolute;
    width: 28px;
    height: 3px;
    bottom: 11px;
  }
  .burger-menu__icon_color_black::before {
    background: #000000;
  }
  .burger-menu__icon_color_black::after {
    background: #000000
  }
  .burger-menu__icon:hover {
    opacity: .7;
  }
  .burger-menu__line {
    position: absolute;
    background: #FFFFFF;
    width: 28px;
    height: 3px;
    top: 22px;
  }
  .burger-menu__line_color_black {
    background: #000000;
  }
  .burger-menu__icon_active {
    position: fixed;
    top: 14px;
    right: 16px;
  }
  .burger-menu__icon_active::before {
    background: #000000;
    top: 21px;
    transform: rotate(45deg);
  }
  .burger-menu__icon_active::after {
    background: #000000;
    bottom: 20px;
    transform: rotate(-45deg);
  }
  .burger-menu__line_active {
    transform: scale(0);
  }
  .burger-menu__overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgb(0%, 0%, 0%, .3);
    z-index: 10;
  }
  .burger-menu__overlay_active {
    display: block;
  }
  .burger-menu__container {
    box-sizing: border-box;
    display: flex;
    position: fixed;
    width: 520px;
    height: 100vh;
    background: #FFFFFF;
    top: 0;
    right: 0;
    z-index: 20;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 90px;
  }
  .burger-menu__links-list {
    display: flex;
    flex-direction: column;
    margin: 159px 0 0 0;
    padding: 0;
    list-style: none;
    align-items: center;
  }
  .burger-menu__link {
    display: block;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    margin: 0 0 28px;
    transition: opacity .2s;
  }
  .burger-menu__link:hover {
    opacity: .7;
  }
  .burger-menu__link_active {
    padding-bottom: 4px;
    border-bottom: 2px solid #000000;
  }
}

@media screen and (max-width: 480px) {
  .burger-menu__container {
    width: 100%;
    padding-bottom: 46px;
  }
  .burger-menu__links-list {
    margin: 144px;
  }
}