burger-menu__icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .burger-menu__icon {
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    padding: 14px 8px 10px;
    display: block;
    position: relative;
    width: 44px;
    height: 44px;
    transition: opacity .2s;
  }
  .burger-menu__icon::before {
    content: "";
    background: #FFFFFF;
    position: absolute;
    width: 28px;
    height: 3px;
    top: 14px;
  }
  .burger-menu__icon::after {
    content: "";
    background: #FFFFFF;
    position: absolute;
    width: 28px;
    height: 3px;
    bottom: 11px;
  }
  .burger-menu__icon:hover {
    opacity: .7;
  }
  .burger-menu__line {
    position: absolute;
    background: #FFFFFF;
    width: 28px;
    height: 3px;
    top: 22px;
  }

}

@media screen and (max-width: 480px) {}