.about-project {
  width: 100%;
  background: #FFFFFF;
}

.about-project__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr max-content max-content;
  gap: 0px 26px;
  grid-template-areas: "section-header section-header" ". ." "timeline timeline";
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 70px 110px;
}

.about-project__article {
  margin-bottom: 110px;
}

.about-project__article-header {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 0 0 26px;
  padding: 0;
}

.about-project__article-text {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.about-project__timeline-container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: max-content 1fr;
  /* background-color: lightblue; */
  grid-area: timeline;
}

.about-project__timeline-unit {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 9px 14px;
  background: #F2F2F2;
}

.about-project__timeline-unit_accent {
  background: #2BE080;
}

.about-project__timeline-caption {
  display: block;
  margin: 14px 0 0;
  padding: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
}

@media screen and (max-width: 768px) {
  .about-project__container {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 90px;
  }

  .about-project__article {
    margin-bottom: 94px;
  }

  .about-project__article-header {
    margin-bottom: 20px;
  }

  .about-project__article-text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 480px) {
  .about-project__container {
    display: flex;
    flex-direction: column;
    padding: 10px 18px 70px;
  }
  .about-project__article {
    margin-bottom: 55px;
  }
  .about-project__article-header {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px;
  }
  .about-project__article-text {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__timeline-container {
    margin-top: 5px;
  }

  .about-project__timeline-unit {
    font-size: 11px;
    line-height: 13px;
    padding: 11px 10px;
  }
  .about-project__timeline-caption {
    font-size: 11px;
    line-height: 13px;
    margin-top: 10px;
  }
}