.register {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
}

.register__container {
  padding: 70px 0 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 396px;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {
  .register__container {
    padding: 70px 30px 0;
  }
  .register__logo-wrapper {
    align-self: center;
  }
}