.techs {
  width: 100%;
  background: #F5F5F5;
}

.techs__container {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px 70px 0;
}

.techs__header {
  margin: 0 0 26px;
  padding: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
}

.techs__description {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__text {
  margin: 0 0 100px;
  padding: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
  max-width: 460px;
}

.techs__list {
  width: 100%;
  margin: 0 0 100px;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.techs__list-item {
  display: block;
  box-sizing: border-box;
  width: 90px;
  min-height: 60px;
  margin-right: 10px;
  padding: 21px 0 22px;
  background: #E8E8E8;
  border-radius: 10px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
  transition: background-color linear .2s;
}

.techs__list-item:last-child {
  margin-right: 0;
}

.techs__list-item:hover {
  background-color: #2BE080;
}

@media screen and (max-width: 768px) {
  .techs__container {
    padding: 20px 50px 0;
  }
  .techs__header {
    margin-top: -10px;
    margin-bottom: 21px;
  }
  .techs__text {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 83px;
  }

  .techs__list {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 480px) {
  .techs {
    background: #FFFFFF;
  }
  .techs__container {
    padding: 10px 18px 0;
  }
  .techs__description {
    padding-top: 0;
  }
  .techs__header {
    font-size: 30px;
    line-height: 36px;
    margin-top: 0;
  }
  .techs__text {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 50px;
  }
  .techs__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-items: end;
    margin: 0 auto 52px;
  }
  .techs__list-item {
    margin: 0;
    font-size: 12px;
    line-height: 15px;
  }
  .techs__list-item:nth-child(2n) {
    justify-self: start;
  }
}